{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}
<!-- bagian contact/get in touch -->
<section id="contact">
    <br>
    <br>
    <h2>Get in Touch</h2>
    <h3> You can reach me through:</h3>
    <div class="button_cont" align="center">
        <a class="Email" href="mailto:audreydatau@gmail.com" target="_blank" rel="nofollow noopener">email</a>
        <a class="LinkedIn" href="https://www.linkedin.com/in/audrey-datau/" target="_blank" rel="nofollow noopener">LinkedIn</a>
        <a class="Instagram" href="https://www.instagram.com/audreydatau/" target="_blank" rel="nofollow noopener">Instagram</a>
    </div>
</section>

<section id="comment">
<div class="allcontent">
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment" class="labelcomment">Leave your comment down below!</label>
            <input type="text" class="form-control"  id="commentfield" placeholder="fill with your comment" name="commentfield">
        </div>
        <button type="submit" class="submit" id='submit'>Submit</button>
    </form>
</div>


<div class="table_data" id="table_data">
        <table class="table table-hover" id="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Comment</th>
            <th scope="col">Date/time</th>
        </tr>
        </thead>
            <div class="contentcomment">
                <tbody>
                {% for s in all_comment %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ s.commentfield }}</td>
                        <td>{{ s.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </div>
        </table>
</div>         
{% endblock content %}

