{% extends 'base.html' %}
{% load static %}

{% block title %}Skills{% endblock title %}

{% block content %}

<!-- bagian Skills -->
<div class="Skills"  id="Skills">
    <h1>Skills</h1>
    <div class="contentskills">
        <div class="SkillsLanguages">
                <h3>Languages</h3>
                <h5>Python &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  CSS</h5>
                <h5>Java &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Java Script</h5>
                <h5>HTML</h5>
        </div>
    
        <div class="SkillsOthers">
                <br>
                <h3>Others</h3>
                <h5>Adobe Illustrator</h5>
                <h5>Adobe Photoshop</h5>
        </div>
    </div>
</div>

{% endblock content %}

