{% extends 'base.html' %}
{% load static %}

{% block title %}Education{% endblock title %}

{% block content %}

<!-- bagian Education -->
<div class="AllEducation"  id="Education">
    <h1>EDUCATION</h1>
    <div class="contenteducation">

        <div class="Education1">
            <p class="label success new-label">
                <h3 class="align">Bachelor of Information Systems, Universitas Indonesia <h4><i>2018 - present</i> </h4>  </h3> 
                <h3 class="add-label"><Strong>Bachelor of Information Systems, Universitas Indonesia</Strong>
                    <br>Learning to combine computer concepts with business and management. 
                    <br>The goal is to 'bridge' between business needs and applications in the IT field.
                </h3>
            </p>
        </div>
    
        <div class="Education2">
                <p class="label success new-label">
                <h3 class="align">61 Senior High School <h4><i>2015 - 2018</i> </h4> </h3> 
                </p>
        </div>
    </div>
</div>

{% endblock content %}