{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

<!-- bagian about     -->
<div class="container-fluid" id="About">
    <div class="row">
        <div class="col-lg-4">
            <h1>ABOUT</h1>
            <img src="{% static 'assets/myphoto1.jpg' %}"  class="rounded-lg float-left">
        </div>
        <div class="col-lg-6">
            <p>My name is Audrey Annisa Datau and you can call me 
                    Audrey. I was born and grew up in Jakarta, Indonesia.<br>
                    <br> I am a hardworking and punctual individual with passion
                    for technology. I work well in team and also on my own. 
                    I am well organized and love to make plans about things 
                    that i will do.

            </p> 
        </div>
    </div>
</div>

{% endblock content %}
