{% extends 'base.html' %}
{% load static %}

{% block title %}Experience{% endblock title %}

{% block content %}

<!-- bagian Experience -->
<div class="AllExperience"  id="Experience">
    <h1>EXPERIENCE</h1>
    <div class="contentexperience">

        <div class="Experience1">
                <p class="label success new-label">
                <h3 class="align">Universitas Indonesia <h4><i>September 2019 - present</i> </h4>  </h3> 
                <h3 class="add-label"><strong>Universitas Indonesia 
                <br> Teaching Assistant for Programming Foundation 1 & 2 </strong>
                <br> Help and make students comfortable with programming, arranging tutorial problems, scoring students tutorial and assignments.
                </h3></p>
        </div>
        
        <div class="Experience2">
                <p class="label success new-label">
                <h3 class="align">BEM FASILKOM UI <h4><i>February 2019 - December 2019 </i> </h4>  </h3> 
                <h3 class="add-label"><strong>BEM FASILKOM UI 
                <br> Public Relations Staff </strong>
                <br> Maintain the publication of BEM Fasilkom UI in social media  and be a liason between
                <br> BEM & external parties both inside and outside faculty.
                </h3></p>
        </div>

        <div class="Experience3">
                <p class="label success new-label">
                <h3 class="align">COMPFEST <h4><i> March 2019 - September 2019 </i> </h4>   </h3>
                <h3 class="add-label"> <strong>COMPFEST
                <br> Marketing Staff</strong>
                <br> Maintain all social media of COMPFEST.
                </h3></p>
        </div>

        <div class="Experience4">
                <p class="label success new-label">
                <h3 class="align">CROPS PATRIOTS <h4><i> April 2017 </i> </h4>   </h3>
                <h3 class="add-label"><strong>CROPS PATRIOTS
                <br> Vice Project Officer</strong>
                <br> Be the right handman for the project officer.
                </h3></p>
        </div>
        
    </div>
</div>

{% endblock content %}
