/* mengatur body secara keseluruhan */
html{
    scroll-behavior: smooth;
}

body{
    background-color:#FFE0E5;
    line-height: 1.6;
    height: 100vh;

}

/* bagian landing page awal */
section{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

section h1{
    margin-left: 10%;
    margin-top: 13%;
    margin-bottom: 0%;
    font-size: 4vw;
}

section h2{
    margin-left: 10%;
    margin-bottom: 0%;
    font-size: 4vw;
}

section h3{
    margin-left: 10%;
    margin-bottom: 0%;
    font-size: 3vw;
}

section a{
    margin-left: 10%;
    margin-top: 2%;
    font-size: 4rem;
}

section#home{
    background-image: url(../assets/bg1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

}

.button_cont{
    margin-left: 10%;
}

/* bagian about */
#About{
    background-color:#FF6E97;
    min-height: 100vh;
}

.row{
    margin-bottom: 0;
}

.rounded-lg{
    margin-top: 10%;
    margin-left:35%;
}

.col-lg-4 h1{
    font-style: italic;
    margin-left: 35%;
    margin-top: 30%;
    color: white;
    font-size: 4rem;
}


.col-lg-6 p{
    color: white;
    margin-top: 38%;
    font-size: 1.5rem;
}

h3.add-label{
    display:none;
} 

/* bagian experience */
#Experience{
    background-color: #FFB7DE;
}


.AllExperience{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

.contentexperience{
    margin-bottom: 5%;
    margin-top: 1%;
    margin-left: 12%
}
.AllExperience h1{
    margin-left: 12%;
    font-style: italic;
    font-size: 4rem;
    margin-top: 6%;
}

.Experience1:hover h3.align{
    display:none;
   }
.Experience1:hover h3.add-label{
    display:inline-block;
   }

.Experience2:hover h3.align{
    display:none;
}
.Experience2:hover h3.add-label{
    display:inline-block;
}

.Experience3:hover h3.align{
    display:none;
}
.Experience3:hover h3.add-label{
    display:inline;
}

.Experience4:hover h3.align{
    display:none;
}
.Experience4:hover h3.add-label{
    display:inline;
}

/* bagian education */
#Education{
    background-color: #FF2865;
}


.AllEducation{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

.contenteducation{
    margin-top: 2%;
    margin-left: 12%;
    color: white;
}
.AllEducation h1{
    margin-left: 12%;
    font-style: italic;
    font-size: 4rem;
    margin-top: 10%;
    color: white;
}

.Education1:hover h3.align{
    display:none;
}
.Education1:hover h3.add-label{
    display:inline-block;
}

/* bagian skills */
#Skills{
    background-color: #FFE0E5;
}


.Skills{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    height: 100vh;
}

.contentskills{
    margin-top: 2%;
    margin-left: 12%;
    color: black;
}

.SkillsLanguages h5{
    margin-top: 10%;
}

.Skills h1{
    margin-left: 12%;
    font-style: italic;
    font-size: 4rem;
    margin-top: 10%;
    color: black;
}

.SkillsOthers h5{
    margin-top: 10%;
}

/* bagian mengatur navigation bar paling atas */
.navbar{
    background: #FFAAB8;
}

.logo{
    float: left;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    overflow-x: hidden;
    z-index: 5;
    transition: all 0.5s;
}

.overlay__content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 10px;
    color: #ccc;
    font-size: 30px;
    text-decoration: none;
    display: block;
}

.overlay a:hover{
    color: #FF2865;
}

.overlay .closeButton{
    position: absolute;
    top: 70px;
    right:50px;
    font-size: 40px;
}

/* bagian contact.html */
section#contact{
    margin-top:1%;
    margin-left: 2%;
    background: url("../assets/contact1.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
   
}

#contact h2{
    font-size: 3.5rem;
    margin-top: 3%;
    margin-left: 12%;

}

#contact h3{
    margin-top: 5%;
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-left: 12%;

}
 /* mengatur button email, linkedin, instagram pada contact.html */
.Email {
    margin-top: 5%;
    font-size: 1rem;
    width: 70%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.Email:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.LinkedIn {
    margin-top: 5%;
    font-size: 1rem;
    width: 70%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.LinkedIn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.Instagram {
    margin-top: 5%;
    font-size: 1rem;
    width: 70%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.Instagram:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

/* bagian comment */
section#comment{
    align-items: center;
    align-content: center;
    font-size: 2.5rem;
}

.submit {
    margin-top: 5%;
    font-size: 1rem;
    width: 25%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF6E97;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.submit:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


/* mengatur untuk ukuran device paling maksimum 600px */
@media screen and (max-width: 600px) {

    .navbar{
        height: 11vh;
    }

    section h1{
        margin-left: 10%;
        margin-top: 30vh;
        margin-bottom: 0%;
        font-size: 12vw;
    }
    
    section h2{
        margin-left: 10%;
        margin-bottom: 2%;
        font-size: 7vw;
    }
    
    section h3{
        margin-left: 10%;
        margin-bottom: 4%;
        font-size: 4vw;
    }

    .col-lg-4 h1{
        margin-top: 12vh;
        font-size: 14vw;
        margin-left: 0%;
        text-align: center;
        margin-bottom: 0%;
    }

    .col-lg-4 img{
        margin-top: 2vh;
        width: 200px;
        height: 200px;
        margin-left: 18vw;
        align-content: center;
    
    }

    .col-lg-6 p{
        text-align: center;
        color: white;
        margin-top: 5vh;
        font-size: 1.2rem;
        margin-bottom: 25%;
    }

    .AllExperience h1{
        margin-top: 12vh;
        font-size: 14vw;
    }

    .contentexperience h3{
        font-size: 6vw;
        margin-right: 5vw;
    }

    .contentexperience h4{
        font-size: 4vw;
    }

    .AllEducation h1{
        margin-top: 12vh;
        font-size: 14vw;
    }

    .contenteducation h3{
        font-size: 6vw;
        margin-right: 9vw;
    }

    .contenteducation h4{
        font-size: 4vw;
    }

    .Skills h1{
        margin-top: 15vh;
        font-size: 14vw;
    }

    

    #contact h2{
        text-align: left;
        font-size: 13vw;
        margin-top: 20%;
        margin-left: 10%;
    
    }
    
    #contact h3{
        margin-top: 5%;
        font-size: 7vw;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    
    }

    .button_cont{
        margin-left: 0;
    }

    section#contact{
        background-image: url("");
    }

    section#comment{
        align-items: center;
        align-content: center;
        font-size: 1rem;
    }
    
    
}

/* mengatur untuk ukuran device paling maksimum 995px */
@media screen and (max-width: 995px) {
    section h1{
        margin-left: 10%;
        margin-top: 30vh;
        margin-bottom: 0%;
        font-size: 12vw;
    }
    
    section h2{
        margin-left: 10%;
        margin-bottom: 2%;
        font-size: 7vw;
    }
    
    section h3{
        margin-left: 10%;
        margin-bottom: 4%;
        font-size: 4vw;
    }

    .col-lg-4 h1{
        margin-top: vh;
        margin-left: 0%;
        text-align: center;
        margin-bottom: 0%;
    }

    .col-lg-4 img{
        margin-top: 2vh;
    
    }

    .col-lg-6 p{
        text-align: center;
        color: white;
        margin-top: 10%;
        font-size: 1.2rem;
        margin-bottom: 25%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #contact h2{
        text-align: left;
        font-size: 13vw;
        margin-top: 20%;
        margin-left: 10%;
    
    }
    
    #contact h3{
        margin-top: 5%;
        font-size: 7vw;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    
    }

    .button_cont{
        margin-left: 5%;
    }

    section#contact{
        background-image: url("");
    }

    section#comment{
        align-items: center;
        align-content: center;
        font-size: 2rem;
    }
}

/* mengatur untuk ukuran device paling maksimum 1050px */
@media screen and (max-width: 1050px) {
    section h1{
        margin-left: 10%;
        margin-top: 25vh;
        margin-bottom: 0%;
        font-size: 11vw;
    }
    
    section h2{
        margin-left: 10%;
        margin-bottom: 2%;
        font-size: 7vw;
    }
    
    section h3{
        margin-left: 10%;
        margin-bottom: 4%;
        font-size: 4vw;
    }


    .col-lg-6 p{
        margin-left: 25%;
    }

    #contact h2{
        text-align: left;
        font-size: 13vw;
        margin-top: 20%;
        margin-left: 10%;
    
    }
    
    #contact h3{
        margin-top: 5%;
        font-size: 7vw;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    
    }

    .AllExperience h1{
        margin-top: 12vh;
    }

    .AllEducation h1{
        margin-top: 12vh;
    }

    .button_cont{
        margin-left: 5%;
    }

    section#contact{
        background-image: url("");
    }

    section#comment{
        align-items: center;
        align-content: center;
        font-size: 2rem;
    }
}