{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- bagian landing page awal -->
<section id="Home">
    <br>
    <h1>HELLO, I'M <br>
    AUDREY ANNISA DATAU!</h1>
    <h3>2nd year information system student</h3>
    <a class="btn btn-outline-dark btn-lg" href="{% url 'About:About' %}">More</a>
</section>

{% endblock content %}
        
